In [47]:
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv')

df.set_index('Boʻlinishi', inplace=True)
df

                               Maydoni (kv.km)    Aholisi
Boʻlinishi
Andijon viloyati                        4200.0  1899000.0
Buxoro viloyati                        39400.0  1384700.0
Fargʻona viloyati                       6800.0  2597000.0
Jizzax viloyati                        20500.0   910500.0
Xorazm viloyati                         6300.0  1200000.0
Namangan viloyati                       7900.0  1862000.0
Navoiy viloyati                       110800.0   767500.0
Qashqadaryo viloyati                   28400.0  2029000.0
Qoraqalpogʻiston Respublikasi         160000.0  1200000.0
Samarqand viloyati                     16400.0  2322000.0
Sirdaryo viloyati                       5100.0   648100.0
Surxondaryo viloyati                   20800.0  1676000.0
Toshkent viloyati                      15300.0  4450000.0

In [49]:
df[['Maydoni (kv.km)', 'Aholisi']].sum()

Maydoni (kv.km)      441900.0
Aholisi            22945800.0
dtype: float64

In [50]:
sale = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv')

sale

  Unnamed: 0   2020   2021
0       Labo   4521   7542
1      Damas  30889  33682
2      Spark  16370   6485
3      Nexia  41663  14442
4     Cobalt  44901  36317
5     Gentra  30368  26266

In [51]:
sale['sum'] = sale.sum(axis=1)
sale['avg'] = sale[['2021', '2020']].mean(axis=1)

sale

/tmp/ipykernel_50524/1925295391.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sale['sum'] = sale.sum(axis=1)

  Unnamed: 0   2020   2021    sum      avg
0       Labo   4521   7542  12063   6031.5
1      Damas  30889  33682  64571  32285.5
2      Spark  16370   6485  22855  11427.5
3      Nexia  41663  14442  56105  28052.5
4     Cobalt  44901  36317  81218  40609.0
5     Gentra  30368  26266  56634  28317.0

In [53]:
df.idxmax()

Maydoni (kv.km)    Qoraqalpogʻiston Respublikasi
Aholisi                        Toshkent viloyati
dtype: object

In [54]:
df.idxmin()

Maydoni (kv.km)     Andijon viloyati
Aholisi            Sirdaryo viloyati
dtype: object