In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('../datasets/merc.csv')

df.sample(10)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
6393,GLC Class,2017,26995,Semi-Auto,21500,Diesel,145,56.5,2.1
779,C Class,2016,20490,Semi-Auto,10542,Petrol,125,51.4,2.0
4678,GLC Class,2019,31245,Semi-Auto,13387,Diesel,145,56.5,2.1
3297,GLC Class,2017,27998,Semi-Auto,18983,Diesel,145,56.5,2.1
8616,A Class,2019,22339,Semi-Auto,2392,Diesel,145,65.7,1.5
12643,E Class,2020,44995,Automatic,6000,Diesel,145,70.6,2.0
6830,GLC Class,2019,44499,Semi-Auto,10000,Petrol,145,34.0,3.0
13009,C Class,2014,13000,Automatic,56346,Diesel,20,64.2,2.1
2259,C Class,2016,20480,Semi-Auto,20169,Diesel,30,64.2,2.1
8561,E Class,2019,25349,Semi-Auto,7894,Diesel,145,72.4,2.0

In [10]:
models = df['model'].unique()

models.sort()

models

array([' A Class', ' B Class', ' C Class', ' CL Class', ' CLA Class',
       ' CLC Class', ' CLK', ' CLS Class', ' E Class', ' G Class',
       ' GL Class', ' GLA Class', ' GLB Class', ' GLC Class',
       ' GLE Class', ' GLS Class', ' M Class', ' R Class', ' S Class',
       ' SL CLASS', ' SLK', ' V Class', ' X-CLASS', '180', '200', '220',
       '230'], dtype=object)

In [11]:
years = df['year'].unique()

years

array([2005, 2017, 2016, 2011, 2018, 2012, 2019, 2020, 2014, 2015, 2006,
       2010, 2004, 2008, 2013, 2007, 2009, 2003, 2001, 2002, 1998, 2000,
       1997, 1999, 1970])

In [13]:
df['fuelType'].unique()

array(['Petrol', 'Hybrid', 'Diesel', 'Other'], dtype=object)

In [14]:
df['fuelType'].value_counts()

Diesel    9187
Petrol    3752
Hybrid     173
Other        7
Name: fuelType, dtype: int64

In [23]:
models = [' G Class', ' E Class']

filter = df['model'].isin(models)

filter.value_counts()

False    11151
True      1968
Name: model, dtype: int64

In [24]:
df[filter]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
8,G Class,2019,139948,Automatic,12000,Petrol,145,21.4,4.0
22,E Class,2015,20769,Automatic,21874,Diesel,165,51.4,3.0
23,E Class,2017,22270,Automatic,13398,Diesel,165,52.3,3.0
...,...,...,...,...,...,...,...,...,...
13080,E Class,2015,18135,Automatic,18849,Diesel,150,54.3,3.0
13084,E Class,2015,18049,Automatic,30410,Diesel,150,54.3,3.0
13086,E Class,2015,20374,Automatic,30288,Diesel,165,51.4,3.0
13087,E Class,2017,21237,Automatic,24463,Diesel,165,52.3,3.0
13104,E Class,2019,24249,Automatic,10860,Diesel,145,72.4,2.0

In [31]:
df[df['fuelType'].isin(['Petrol', 'Diesel'])]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
5,SL CLASS,2011,149948,Automatic,3000,Petrol,570,21.4,6.2
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [34]:
df[(df['price'] < 40000) & (df.year > 2014)]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
6,GLE Class,2018,30948,Automatic,16000,Diesel,145,47.9,2.1
9,GLA Class,2017,19750,Automatic,15258,Diesel,30,64.2,2.1
10,A Class,2020,32980,Automatic,606,Petrol,145,35.8,2.0
11,A Class,2020,26980,Automatic,1000,Diesel,145,62.8,1.5
...,...,...,...,...,...,...,...,...,...
13113,C Class,2020,30999,Automatic,1000,Diesel,145,64.2,2.0
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0