In [4]:
# Let's import pandas and numpy

import pandas as pd
import numpy as np

In [11]:
cars = {
    'tico': 4300,
    'nexia': 6400,
    'spark': 7300,
    'colbalt': 11200,
    'gentra': 12300,
    'malibu': 23000,
}

cars['bmw'] = None
cars['mersades'] = None

pd_cars = pd.Series(cars, index=sorted(cars.keys()))
pd_cars

bmw             NaN
colbalt     11200.0
gentra      12300.0
malibu      23000.0
mersades        NaN
nexia        6400.0
spark        7300.0
tico         4300.0
dtype: float64

In [12]:
pd_cars.isnull()

bmw          True
colbalt     False
gentra      False
malibu      False
mersades     True
nexia       False
spark       False
tico        False
dtype: bool

In [15]:
pd_cars.notnull()

bmw         False
colbalt      True
gentra       True
malibu       True
mersades    False
nexia        True
spark        True
tico         True
dtype: bool

In [20]:
new_cars = pd.Series({
    'tico': 300,
    'nexia': -200,
    'spark': 400,
})

new_cars

tico        300.0
nexia      -200.0
spark       400.0
colbalt       NaN
gentra        NaN
malibu        NaN
bmw           NaN
mersades      NaN
dtype: float64

In [19]:
pd_cars + new_cars

bmw            NaN
colbalt        NaN
gentra         NaN
malibu         NaN
mersades       NaN
nexia       6200.0
spark       7700.0
tico        4600.0
dtype: float64

In [22]:
pd_cars.values

array([   nan, 11200., 12300., 23000.,    nan,  6400.,  7300.,  4300.])

In [23]:
pd_cars.hasnans

True

In [24]:
pd_cars.dtype

dtype('float64')

In [25]:
pd_cars.is_unique

False

In [26]:
pd_cars.shape

(8,)

In [27]:
pd_cars.size

8

In [28]:
pd_cars

bmw             NaN
colbalt     11200.0
gentra      12300.0
malibu      23000.0
mersades        NaN
nexia        6400.0
spark        7300.0
tico         4300.0
dtype: float64

In [38]:
pd_cars[pd_cars.notnull()].iloc[1:]

gentra    12300.0
malibu    23000.0
nexia      6400.0
spark      7300.0
tico       4300.0
dtype: float64

In [39]:
pd_cars.max()

23000.0

In [40]:
pd_cars.min()

4300.0

In [41]:
pd_cars.mean()

10750.0