In [71]:
import pandas as pd

In [72]:
data = {
    'uzb': {2012: 12, 2013: 13, 2014: 14, 2015: 15, 2016: 14},
    'rus': {2012: 11, 2012: 13, 2013: 14, 2014: 15},
    'usa': {2012: 13, 2013: 14, 2014: 15, 2015: 16},
}


df = pd.DataFrame(data)

df.head()

      uzb   rus   usa
2012   12  13.0  13.0
2013   13  14.0  14.0
2014   14  15.0  15.0
2015   15   NaN  16.0
2016   14   NaN   NaN

In [73]:
df = pd.DataFrame(data, index=[2012, 2013, 2014])

df

      uzb  rus  usa
2012   12   13   13
2013   13   14   14
2014   14   15   15

In [74]:
df.T

     2012  2013  2014
uzb    12    13    14
rus    13    14    15
usa    13    14    15

In [75]:
df.values

array([[12, 13, 13],
       [13, 14, 14],
       [14, 15, 15]])