In [2]:
import pandas as pd

In [3]:
data = {
    'yil': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012],
    'aholi soni': [33.9, 33.1, 32.4, 32.1, 31, 30.5, 30.1, 29, 28, 27.9],
    'temp': [0.8, 0.3, 0.3, 1.1, 0.5, 0.4, 1.1, 1, 1.9, 0],
}

df = pd.DataFrame(data)

df.head()

    yil  aholi soni  temp
0  2021        33.9   0.8
1  2020        33.1   0.3
2  2019        32.4   0.3
3  2018        32.1   1.1
4  2017        31.0   0.5

In [6]:
df.columns

Index(['yil', 'aholi soni', 'temp'], dtype='object')

In [7]:
columns = df.columns

columns

Index(['yil', 'aholi soni', 'temp'], dtype='object')

In [8]:
'temp' in columns

True

In [9]:
columns[1]

'aholi soni'

In [10]:
columns[:-1]

Index(['yil', 'aholi soni'], dtype='object')