In [3]:
import pandas as pd

In [4]:
usernames = {
    "temur": "temur5319436",
    "sirojiddin": "fish",
    'hamza': "yamach",
    "ulugbek": "sadettin",
}

emails = {
    "temur": "temur5319436@gmail.com",
    "sirojiddin": "fish@gmail.com",
    'hamza': "yamach@gmail.com",
    "ulugbek": "sadettin@gmail.com",
}

data = {
    "usernames": usernames,
    'emails': emails
}

df = pd.DataFrame(data)

df.head()

               usernames                  emails
temur       temur5319436  temur5319436@gmail.com
sirojiddin          fish          fish@gmail.com
hamza             yamach        yamach@gmail.com
ulugbek         sadettin      sadettin@gmail.com

In [5]:
new_data = {
    "usernames": {"temur": "t.usmonaliyev", "khusanboy": "fifa420111"},
    "emails": {"temur": "t.usmonaliyev99@gmail.com", "khusanboy": "fifa420111@gmail.com"},
}

df_new = pd.DataFrame(new_data)

df_new

               usernames                     emails
temur      t.usmonaliyev  t.usmonaliyev99@gmail.com
khusanboy     fifa420111       fifa420111@gmail.com

In [8]:
index = pd.Index(['temur', 'sirojiddin', 'qobil'])

index

Index(['temur', 'sirojiddin', 'qobil'], dtype='object')

In [9]:
index.isin(df.index)

array([ True,  True, False])

In [10]:
df.index.difference(index)

Index(['hamza', 'ulugbek'], dtype='object')

In [11]:
index.difference(df.index)

Index(['qobil'], dtype='object')

In [12]:
index.union(df.index)

Index(['hamza', 'qobil', 'sirojiddin', 'temur', 'ulugbek'], dtype='object')

In [13]:
df.index.delete(0)

Index(['sirojiddin', 'hamza', 'ulugbek'], dtype='object')

In [14]:
index.drop('sirojiddin')

Index(['temur', 'qobil'], dtype='object')

In [16]:
index.insert(2, 'sobir')

Index(['temur', 'sirojiddin', 'sobir', 'qobil'], dtype='object')

In [18]:
df.index.is_monotonic

False

In [19]:
df.index.is_unique

True

In [20]:
df.index.unique()

Index(['temur', 'sirojiddin', 'hamza', 'ulugbek'], dtype='object')