In [3]:
import torch

torch.cuda.is_available()

True

In [8]:
from fastai.vision.all import *

In [12]:
# path = untar_data(URLs.PETS) / '/images'
path = '/home/t1nnur/.fastai/data/oxford-iiit-pet/images'

In [48]:
from glob import glob

images = glob('/home/t1nnur/.fastai/data/oxford-iiit-pet/images/*.jpg')

In [70]:
df = pd.DataFrame({'path': images})

df

                                                                           path
0     /home/t1nnur/.fastai/data/oxford-iiit-pet/images/yorkshire_terrier_12.jpg
1           /home/t1nnur/.fastai/data/oxford-iiit-pet/images/pomeranian_125.jpg
2               /home/t1nnur/.fastai/data/oxford-iiit-pet/images/samoyed_53.jpg
3     /home/t1nnur/.fastai/data/oxford-iiit-pet/images/British_Shorthair_89.jpg
4           /home/t1nnur/.fastai/data/oxford-iiit-pet/images/leonberger_190.jpg
...                                                                         ...
7385       /home/t1nnur/.fastai/data/oxford-iiit-pet/images/basset_hound_24.jpg
7386           /home/t1nnur/.fastai/data/oxford-iiit-pet/images/Siamese_169.jpg
7387      /home/t1nnur/.fastai/data/oxford-iiit-pet/images/Russian_Blue_180.jpg
7388   /home/t1nnur/.fastai/data/oxford-iiit-pet/images/american_bulldog_27.jpg
7389         /home/t1nnur/.fastai/data/oxford-iiit-pet/images/shiba_inu_124.jpg

[7390 rows x 1 columns]

In [50]:
df['label'] = df.path.map(lambda x: x[0].isupper()).astype(int)

df

                                                                           path  label
0     /home/t1nnur/.fastai/data/oxford-iiit-pet/images/yorkshire_terrier_12.jpg      0
1           /home/t1nnur/.fastai/data/oxford-iiit-pet/images/pomeranian_125.jpg      0
2               /home/t1nnur/.fastai/data/oxford-iiit-pet/images/samoyed_53.jpg      0
3     /home/t1nnur/.fastai/data/oxford-iiit-pet/images/British_Shorthair_89.jpg      0
4           /home/t1nnur/.fastai/data/oxford-iiit-pet/images/leonberger_190.jpg      0
...                                                                         ...    ...
7385       /home/t1nnur/.fastai/data/oxford-iiit-pet/images/basset_hound_24.jpg      0
7386           /home/t1nnur/.fastai/data/oxford-iiit-pet/images/Siamese_169.jpg      0
7387      /home/t1nnur/.fastai/data/oxford-iiit-pet/images/Russian_Blue_180.jpg      0
7388   /home/t1nnur/.fastai/data/oxford-iiit-pet/images/american_bulldog_27.jpg      0
7389         /home/t1nnur/.fastai/data/oxford-iiit-pet/images/shiba_inu_124.jpg      0

[7390 rows x 2 columns]

In [51]:
dls = ImageDataLoaders.from_df(df, path='/', item_tfms=Resize((200, 200)))

In [52]:
model = vision_learner(dls, resnet18, metrics=accuracy)

In [53]:
model.fine_tune(5)

epoch     train_loss  valid_loss  accuracy  time
0         0.000000    0.000000    1.000000  00:15
epoch     train_loss  valid_loss  accuracy  time
0         0.000000    0.000000    1.000000  00:19
1         0.000000    0.000000    1.000000  00:19
2         0.000000    0.000000    1.000000  00:19
3         0.000000    0.000000    1.000000  00:19
4         0.000000    0.000000    1.000000  00:19

In [ ]:
test = '/home/t1nnur/Pictures/pexels-photo-2071882.jpeg'

img = PILImage.create(test)

pred, _, prob = model.predict(img)

print(pred)
print(prob)

0
tensor([1.])