In [3]:
import pandas as pd

In [4]:
cars = {
    'tico': 4300,
    'nexia': 6400,
    'spark': 7300,
    'colbalt': 11200,
    'gentra': 12300,
    'malibu': 23000,
}

car_series = pd.Series(cars)

car_series

tico        4300
nexia       6400
spark       7300
colbalt    11200
gentra     12300
malibu     23000
dtype: int64

In [5]:
# We can use "in" operator

'spark'  in car_series

True

In [6]:
'BMW' in car_series

False

In [7]:
car_series['tico']

4300

In [12]:
models = list(cars.keys())

models.append('BMW')
models.append('Mersades')

models.sort()

car2_series = pd.Series(cars, index=models)

car2_series

BMW             NaN
Mersades        NaN
colbalt     11200.0
gentra      12300.0
malibu      23000.0
nexia        6400.0
spark        7300.0
tico         4300.0
dtype: float64