In [1]:
import pandas as pd
import numpy as np

### Single index

In [2]:
data = pd.Series(np.random.random(9), index=['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c'])

data

a    0.670859
a    0.256224
a    0.839292
b    0.469315
b    0.904529
b    0.464204
c    0.955677
c    0.986271
c    0.596973
dtype: float64

### Multi index

In [3]:
data = pd.Series(np.random.random(9), index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c'], [1, 2, 3, 1, 2, 3, 1, 2, 3]])

data

a  1    0.169691
   2    0.551349
   3    0.744338
b  1    0.250295
   2    0.555633
   3    0.436820
c  1    0.059751
   2    0.586076
   3    0.077289
dtype: float64

In [4]:
data['a']

1    0.169691
2    0.551349
3    0.744338
dtype: float64

In [7]:
data.loc['a', [1, 2]]

a  1    0.169691
   2    0.551349
dtype: float64

In [9]:
data.loc[['a', 'c'], [1]]

a  1    0.169691
c  1    0.059751
dtype: float64

In [10]:
data.loc[:, 1]

a    0.169691
b    0.250295
c    0.059751
dtype: float64

In [13]:
data.loc[:'b', [1, 2, 3]]

a  1    0.169691
   2    0.551349
   3    0.744338
b  1    0.250295
   2    0.555633
   3    0.436820
dtype: float64

### Unstack method

In [14]:
data.unstack()

          1         2         3
a  0.169691  0.551349  0.744338
b  0.250295  0.555633  0.436820
c  0.059751  0.586076  0.077289

In [17]:
data.at['a', 4] = 1

data = data.unstack()

data

          1         2         3    4
a  0.169691  0.551349  0.744338  1.0
b  0.250295  0.555633  0.436820  NaN
c  0.059751  0.586076  0.077289  NaN

### Stack method

In [18]:
data.stack()

a  1    0.169691
   2    0.551349
   3    0.744338
   4    1.000000
b  1    0.250295
   2    0.555633
   3    0.436820
c  1    0.059751
   2    0.586076
   3    0.077289
dtype: float64