In [97]:
import pandas as pd
import numpy as np

In [98]:
df = pd.read_csv('https://github.com/anvarnarz/praktikum_datasets/blob/main/melb_data.csv?raw=true')

df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [99]:
df.shape

(13518, 21)

1-VAZIFA. df dagi barcha ustunlardagi NaN qiymatlar sonini chiqaring

In [100]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6417
YearBuilt        5344
CouncilArea      1307
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

2-VAZIFA. df barcha NaN qiymatlarni 0 bilan almashtiring

In [101]:
df.fillna(value=0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,0.0,0.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,0.0,0.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13513,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,0.0,1981.0,0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13514,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,0,-37.85927,144.87904,Western Metropolitan,6380.0
13515,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,0.0,1997.0,0,-37.85274,144.88738,Western Metropolitan,6380.0
13516,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,0,-37.85908,144.89299,Western Metropolitan,6380.0
13517,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,0,-37.81188,144.88449,Western Metropolitan,6543.0

3-VAZIFA. Quyidagi 2 ustun uchun o'rta qiymatlarni hisoblang:
- BuildingArea
- YearBuilt (**butun son qaytishi kerak**)qiymatlarni hisoblang

In [102]:
means = df[['BuildingArea', 'YearBuilt']].mean()

print(means['BuildingArea'])
print(int(means['YearBuilt']))

152.12890349246587
1964

4-VAZIFA: BuildingArea va YearBuilt ustunlaridagi NaN qiymatlarni shu sutun uchun o'rta qiymatlar bilan almashtiring

DIQQAT! YearBuilt ustuni qiymatlari butun son bo'lishi kerak

In [103]:
df.fillna({'BuildingArea': df.BuildingArea.mean(), 'YearBuilt': int(df.YearBuilt.mean())})

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,152.128903,1964.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.000000,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.000000,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,152.128903,1964.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.000000,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13513,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,152.128903,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13514,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.000000,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13515,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,152.128903,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13516,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.000000,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13517,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.000000,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

5-VAZIFA. .groupby()

Ustun uchun o'rta qiymat har doim ham aniq bo'lavermaydi. Keling avval YearBuilt ustuni uchun aniqroq qiymat topishga harakat qilamiz.

Buning uchun Regionname ustuni qiymatlaridan foydalanishimiz mumkin, ya'ni bir Regiondagi binolar tahminan bir hil yillarda qurilgan deb tahmin qilsak bo'ladi.

5.1 .groupby() yordamida df qiymatlarini Regionname ustuni bo'yicha guruhlang va YaerBuilt ustuni uchun o'rta qiymatni hisoblang.

In [104]:
years = df.groupby('Regionname').YearBuilt.mean().astype(int)

years

Regionname
Eastern Metropolitan          1971
Eastern Victoria              1984
Northern Metropolitan         1962
Northern Victoria             1986
South-Eastern Metropolitan    1976
Southern Metropolitan         1960
Western Metropolitan          1968
Western Victoria              1982
Name: YearBuilt, dtype: int64

5.2. df YearBuilt ustunidagi NaN qiymatlarni yuqoridagi qiymatlar bilan almashtiring.Â¶

df[df.Regionname='Eastern Metropolitan']=...

Har bir Regionname uchun qiymatlarni bittalab kiritmaslik uchun for siklidan foydalanishingiz mumkin.

In [105]:
for region in years.index:

    df[df.Regionname == region] = df[df.Regionname == region].fillna({'YearBuilt': years[region]})
    
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,1962.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,1962.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13513,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13514,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13515,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13516,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13517,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

6-VAZIFA. BuildingArea ustunidagi NaN qiymatlarni to'ldiramizÂ¶

BuildingArea bino qurilgan yerning maydonini bildiradi. Bu qiymatlarni tahmin qilish uchun qaysi ustun qiymatlaridan foydalanish to'g'ri deb hisoblaysiz?

6.1 dfni xonalar soni bo'yicha o'rta qiymat olib ko'ring

In [106]:
df.groupby('Rooms').mean().BuildingArea

Rooms
1      52.539597
2      92.831872
3     139.222721
4     208.986943
5     405.607347
6     278.513889
7     340.423333
8     256.000000
10           NaN
Name: BuildingArea, dtype: float64

6.2 Xonalar va uy turi bo'yicha o'rta qiymatni olib ko'ring

In [107]:
df.groupby(['Rooms', 'Type']).mean().sort_index()

                   Price   Distance     Postcode   Bedroom2  Bathroom  \
Rooms Type
1     h     8.669860e+05   6.987719  3088.175439   1.105263  1.070175
      t     5.927045e+05   6.981818  3092.000000   1.090909  1.000000
      u     3.896680e+05   5.816393  3109.178689   1.021311  1.001639
2     h     1.014966e+06   7.653353  3090.119534   2.029883  1.081633
      t     7.101585e+05   8.941379  3087.326019   2.003135  1.338558
      u     6.104905e+05   7.635318  3111.655101   2.010357  1.144485
3     h     1.107357e+06  11.279128  3098.327117   2.987846  1.407586
      t     9.847087e+05   9.974563  3103.050874   2.977742  1.918919
      u     8.505963e+05   9.778936  3110.481153   2.960089  1.549889
4     h     1.462141e+06  12.208675  3118.764425   3.922006  2.017111
      t     1.217092e+06  11.444667  3121.360000   3.906667  2.400000
      u     1.037476e+06  10.647619  3092.238095   3.952381  2.095238
5     h     1.877327e+06  11.785787  3118.351946   4.874788  2.690355
      t     1.035000e+06  10.920000  3074.800000   5.000000  2.200000
6     h     1.869508e+06  12.753030  3123.060606   5.848485  2.833333
      u     5.200000e+05   8.200000  3012.000000   4.000000  2.000000
7     h     1.920700e+06   9.560000  3095.700000   6.600000  2.900000
8     h     1.510286e+06  11.357143  3101.285714   7.571429  4.428571
      u     2.250000e+06   7.800000  3058.000000   4.000000  2.000000
10    h     9.000000e+05  12.100000  3083.000000  10.000000  3.000000

                 Car     Landsize  BuildingArea    YearBuilt  Lattitude  \
Rooms Type
1     h     0.807018   294.140351     85.400000  1958.298246 -37.788645
      t     0.636364   193.181818     70.714286  1982.636364 -37.833014
      u     0.895082   396.700000     50.088250  1972.185246 -37.825243
2     h     1.142128   337.200437    103.332575  1949.569971 -37.802526
      t     1.188088   261.595611    120.103632  1985.150470 -37.794179
      u     1.110306   508.104091     80.852963  1974.171932 -37.823744
3     h     1.719195   650.228206    141.621430  1959.183571 -37.798910
      t     1.691574   279.448331    137.620152  1988.467409 -37.819691
      u     1.481153   464.776053    117.998941  1977.738359 -37.821690
4     h     2.077994   661.851174    210.289670  1962.049343 -37.811283
      t     1.826667   326.413333    194.634184  1991.033333 -37.845255
      u     1.857143   271.714286    161.400000  1979.190476 -37.825299
5     h     2.314721   803.275804    407.745961  1964.245347 -37.814808
      t     1.800000   234.600000    159.666667  1993.400000 -37.780148
6     h     2.606061   854.212121    281.585714  1960.272727 -37.808138
      u     1.000000     0.000000    171.000000  1970.000000 -37.809000
7     h     2.600000  1089.700000    340.423333  1974.500000 -37.792333
8     h     3.285714   824.000000    256.000000  1965.714286 -37.806197
      u     4.000000   983.000000           NaN  1962.000000 -37.751700
10    h     2.000000   313.000000           NaN  2006.000000 -37.710980

            Longtitude  Propertycount
Rooms Type
1     h     144.966292    7312.070175
      t     144.988266    7195.454545
      u     144.986508    8857.804918
2     h     144.981053    7312.475219
      t     144.979010    7545.489028
      u     144.997872    8196.270844
3     h     144.984970    7350.904023
      t     144.998826    6996.322734
      u     145.001703    7340.465632
4     h     145.011257    7126.194986
      t     145.024198    6545.193333
      u     145.038477    7643.857143
5     h     145.033487    7052.620981
      t     145.004502    6920.200000
6     h     145.036606    6693.272727
      u     144.868600    5058.000000
7     h     145.033313    6874.300000
8     h     145.020660    5354.142857
      u     144.969900   11204.000000
10    h     145.053810   10175.000000

In [108]:
df.dropna(subset=['BuildingArea'], inplace=True)

In [113]:
df.fillna(method='ffill', inplace=True)

In [114]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64